header {

    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: auto;
    padding-top: 10rem;
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 1.6rem;
}